doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(content='yes', name='apple-mobile-web-app-capable')
        meta(content='black', name='apple-mobile-web-app-status-bar-style')
        meta(content='telephone=no', name='format-detection')
        meta(content='email=no', name='format-detection')
        title= title
        script(type='text/javascript', src='//statics.lotsmall.cn/wappublic/javascripts/jquery-1.8.3.min.js')
        //- script(type='text/javascript', src='/javascripts/public.js')
        block script
        link(rel='stylesheet', href='//statics.lotsmall.cn/wappublic/stylesheets/normalize.css')
        link(rel='stylesheet', href='//statics.lotsmall.cn/wappublic/stylesheets/style.css')
        link(rel='stylesheet', href='//statics.lotsmall.cn/wappublic/fonts/iconfont.css')
        block style
    body
        block content